* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.marker {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #007cbf; /* Color del marcador */
  border: 2px solid #fff; /* Borde del marcador */
}
