* {
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  margin: 0;
  padding: 0;
  background:#fceade;
}

.marker {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #007cbf; 
  border: 2px solid white;
}
